body {
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    border:1px solid #A7A7A7;
    margin: 10px;
}

.center {
    text-align: center;
    margin-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.inputstyle {
    width:97%;
    border:0.5px solid #A7A7A7;
}

.backBtn{
    background-color:#286090;
    color: #fff;
    font-size: 16px;
    border-color: #204d74;
    border-width: 1px;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
}
